.score-board {
  width: 320px;
  display: grid;
  grid-auto-flow: column;
  margin-top: 10px;
}
.scoreX,
.scoreO {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  background-color: #cd493a;
}

.scoreO {
  background-color: #4392f1;
}
